pkgbase = ghq-bin
	pkgdesc = Remote repository management made easy. Pre-compiled.
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/motemen/ghq
	arch = x86_64
	license = MIT
	provides = ghq
	conflicts = ghq
	source = ghq-0.17.0_linux_amd64.zip::https://github.com/motemen/ghq/releases/download/v0.17.0/ghq_linux_amd64.zip
	sha1sums = f11da35ca67f2a676de343be6449d612a19286f9

pkgname = ghq-bin

